* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Comfortaa", cursive;
  font-size: 80px;
}

.contact {
  margin-top: 20px;
  cursor: pointer;
}

.contact img {
  width: 30px;
}
